.wrapper {
  width: 100%;
  height: 90px;
  background-color: var(--bg-color-area);
  color: var(--default-color);

  img {
    height: 150%;
  }

  .header-title {
    font-family: cursive;
    color: antiquewhite;
  }
}
