:root {
  --bg-color: rgba(255, 255, 255, 0.934);
  --default-color: white;
  --header-color: white;
  --border-color: rgb(230, 230, 230);
  --custom-color: #1da1f2;
  --bg-color-area: #18392b;
  --bg-color-yellow: #f8de22;
  --bg-color-red: #c70039;
  --bg-color-blue: #3468c0;
  --bg-color-green: #1c4c37;
  --bg-color-beige: beige;
}
